.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*/.DS_Store
.quarto
trash
.vscode/launch.json
inst/doc
docs
/doc/
/Meta/
.lintr
covr
TRASH
Treatment-Annotation*.Rmd

./*.csv
CCLE_treatmentMetadata.csv
AnnotationGx.code-workspace
AnnotationGx.code-workspace
